{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-mid-10 col-11 mx-auto mt-5">
    <div class="d-flex justify-content-end">
      <a href="#" class="btn btn-primary">+</a>
    </div>
    <table class="table tabke-hover table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">QTY</th>
          <th scope="col">Category</th>
          <th scope="col">T</th>
          <th scope="col">T</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="col">-</th>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}