{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-11 col-md-4 mx-auto mt-5">
    <h1>sign Up</h1>
    {% if form.errors %}
    {% for field in form %}
    {% for error in field %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_error %}
    <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}