<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      Inventory Management
    </a>

    <div class="d-flex align-items-center ms-auto">
      <ul class="navbar-nav flex-row gap-3">

        {% if user.is_authenticated %}
        <li class="nav-item d-flex align-items-center">
          <span class="badge bg-light bg">{{ request.user }}</span>
        </li>
        <li class="nav-item">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm">
              Logout
            </button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'signup' %}" class="nav-link">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link">Login</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>